body{
    background-color: antiquewhite;
    margin: 0%;
    text-align: center;
}

header{
    width: 100%;
    padding: 1.5%;
    background-color: rgb(98, 145, 214);
    text-align: center;
}

#starter{
    width: 70%;
    margin: 0% auto;
}

#form{
    /* display: none; */
    width: 80%;
    padding: 5% 0%;
    margin: 5% auto;
    background-color: rgb(168, 201, 250);
    text-align: center;
    border-radius: 5px;
    border: 5px solid black;
}

#time{
    margin: 3% auto;
}

#check{
    transform: scale(2,2) translate(50%,-10%);
    margin-bottom: 5%;
}

#submit{
    background-color: lightgreen;
    width: 10%;
    border-radius: 5px;
    transition: 1s;
}

#submit:hover{
    transform: scale(1.1,1.1);
    background-color: green;
    color: white;
    border-width: 5px;
}

#starter .graph{
    display: none;
}

#in-process{
    display: inline-block;
    display: none;
}

.graph {
    width: 100%;
    max-width: 600px;  
    height: 300px; 
    margin: auto;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}


#boton-apagar{
    background-color: lightcoral;
    width: 15%;
    border-radius: 5px;
    transition: 1s;
    margin-top: 5%;
    margin-bottom: 10%;
}

#boton-apagar:hover{
    transform: scale(1.1,1.1);
    background-color: darkred;
    color: white;
    border-width: 5px;
}

#pan-actual,#primer-pan-img,#segundo-pan-img{
    width: 100%;
    max-width: 600px;
    margin: auto;
    
}

.carousel-inner {
    height: 400px; /* Ajusta la altura para que no cambie */
  }

.carousel-item img{
    width: 50%;
    height: 400px;
}

.carousel-control-next-icon{
    transform: translateX(250%);
    background-color: black;
}

.carousel-control-prev-icon{
    transform: translateX(-250%);
    background-color: black;
}

#descarga{
    background-color: yellowgreen;
    border-radius: 5px;
    transition: 1s;
}

.descarga:hover{
    transform: scale(1.1,1.1);
    background-color: darkgoldenrod;
    border-width: 5px;
}


#spinner{
    width: 8vw;
    height: 8vw;
    margin-top: 8%;
}

.comparacion{
    width: fit-content;
    display: flex;
    margin: 0% auto;
}

.comparacion div{
    margin: 0% 0.5%;    
}